<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
	 <meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<title>中队审批</title>
	<link rel="stylesheet" href="${ctx.contextPath}/mobile/css/base.css" />
	<link rel="stylesheet" href="${ctx.contextPath}/mobile/css/mui.min.css">
	<link rel="stylesheet" href="${ctx.contextPath}/mobile/common/layui/css/layui.css" />
	<link rel="stylesheet" href="${ctx.contextPath}/mobile/css/mui.picker.css">
	<link href="${ctx.contextPath}/mobile/css/mui.poppicker.css" rel="stylesheet" />
	<link href="${ctx.contextPath}/mobile/css/mui.dtpicker.css" rel="stylesheet" />
	<link rel="stylesheet" href="${ctx.contextPath}/mobile/css/approval_add.css" />
	<script type="text/javascript" src="${ctx.contextPath}/mobile/common/jquery-1.8.3.min.js"></script>
	<script type="text/javascript" src="${ctx.contextPath}/mobile/common/base.js"></script>
	<script type="text/javascript" src="${ctx.contextPath}/mobile/common/layui/layui.js"></script>
	<script src="${ctx.contextPath}/mobile/common/mui.min.js"></script>
	<script src="${ctx.contextPath}/mobile/common/mui.picker.js"></script>
	<script src="${ctx.contextPath}/mobile/common/mui.poppicker.js"></script>
	<script src="${ctx.contextPath}/mobile/common/mui.dtpicker.js"></script>
	<script src="${ctx.contextPath}/mobile/common/mui.picker.min.js"></script>

	<script src='${ctx.contextPath}/mobile/common/popup/js/popups.js'></script>
	<script src="${ctx.contextPath}/mobile/common/web.ajax.js"></script>

	<script src="${ctx.contextPath}/layui/commons/main.js" type="text/javascript"></script>
</head>
<body>
	<div class='leave_top'>
		<div class='back' onclick="window.history.back();"><img src='${ctx.contextPath}/mobile/images/icon_fanhui.png'></div>

<!--
		<div class='back'><img src='${ctx.contextPath}/mobile/images/icon_fanhui.png'></div>
-->
		<div class='leave_title'>中队审批</div>
	</div>
	<div class='empty'></div>
	<form class="layui-form">
		<div class='center'>
			<div class='sp_lc'>
				<ul>
					<li>
						<lable>在外人数</lable>
						<div>
							<input type="hidden" name="ID" value="${important.ID}">
							<input type="text" name="REIGN_NUMBER"  value="${important.REIGNNUMBER}" autocomplete="off"
								   class="layui-input">
						</div>
					</li>
					<li>
						<lable>请假外出</lable>
						<div>
							<input type="text" name="REIGN_NUMBER"  value="${important.REIGNNUMBER}" autocomplete="off"
								   class="layui-input">
						</div>
					</li>
					<li>
						<lable>探亲休假</lable>
						<div>
							<input type="text" name="REIGN_NUMBER"  value="${important.REIGNNUMBER}" autocomplete="off"
								   class="layui-input">
						</div>
					</li>
					<li>
						<lable>要事类型</lable>
						<div>
							<input type="text" name="REIGN_NUMBER"  value="${important.REIGNNUMBER}" autocomplete="off"
								   class="layui-input">
						</div>
					</li>
					<li>
						<lable>要事说明</lable>
						<div>
							<textarea name="ddbyj">${important.IMPORTANTCONTENT}</textarea>
						</div>
					</li>

				</ul>
			</div>
			<div class='sp_lc'>
				<ul>
					<li>
						<lable>是否同意</lable>
						<div>
							<input type="checkbox" checked="" name="isAgree" lay-skin="switch" lay-filter="isAgree">
						</div>
					</li>
					<li id='li_spyj'>
						<lable class='ddbyj'>审核意见：</lable>
						<div class='yj_nr'>
							<textarea name="AUDIT_OPINION" placeholder="点击填写意见..." ></textarea>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="foot_content">
	        <div class="foot">
	        	<div class="censorship" lay-submit lay-filter="sh">完成</div>
	            <div class="save" lay-submit lay-filter="qc">取消</div>
	        </div>
	    </div>
    </form>
<script>
	var userId ="${userId}";
	//状态
	var status ;
	layui.use(['form'], function() {
		var form = layui.form;

		form.on('submit(sh)', function(data) {//审核
			var datas = data.field;
			if(datas.isAgree == 'on'){
				status = 3;//同意
			}else{
				status = 4;//不同意
			}
			datas.STATUS= status;
			var ajax = new Ajax("importantMobile/auditImportant",function(data){
				if (data.code == 1) {
					parent.layer.alert("操作成功!",{icon:1},function(){
						parent.layer.closeAll();
					});
				}else{
					parent.layer.alert("操作异常!",{icon:1},function(){
					});
				}
			});
			ajax.add(datas);
			ajax.add("userId",userId);
			ajax.submit();
			return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
		});
		form.on('submit(qc)', function(data) {//取消


		});

		/*form.on('switch(isAgree)', function(data){
			var isCheck=this.checked ? 'true' : 'false';
			if(isCheck=='true'){
				status = 3;//同意
			}else{
				status = 4;//不同意
			}

		});*/

	})


</script>
</body>
</html>