<html lang="en" style="font-size: 60.1333px;"><head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>人员分析页面</title>
    <link rel="stylesheet" href="../../../static/layui/commons/css/base.css">
    <link rel="stylesheet" href="../../../static/layui/commons/layui/css/layui.css">
    <link rel="stylesheet" href="../css/rygl/list.css">
    <script type="text/javascript" src="../../../static/layui/commons/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="../../../static/layui/commons/js/mescroll.js"></script>
    <script type="text/javascript" src="../../../static/layui/commons/js/base.js"></script>
    <link rel="stylesheet" href="../css/rygl/mescroll.css" />
    <script type="text/javascript" src="../js/ryfx_wgd.js"></script>
    <script type="text/javascript" src="../../../static/layui/commons/layui/layui.js"></script>
    <!--<script type="text/javascript" src="../js/wgd_list.js"></script>-->
    <script src="../../../static/layui/commons/js/web.ajax.js"></script>

    <link id="layuicss-layer" rel="stylesheet" href="file:///C:/Users/wwd/Desktop/xf/common/layui/css/modules/layer/default/layer.css?v=3.1.1" media="all"></head>
<body class="">

<div class="topBox">
    <div class="wxts" style="text-align: center">
        人员分析页面<span id="xzryfx"></span>
    </div>

    <div class="tp_content">
        <div class="top">
            <div class="ytj " lay-submit=""  style="text-align: center"><a href="ryfx_ygd.html">已归档</a></div>
            <div class="wtj active" lay-submit=""style="text-align: center">未归档</div>
        </div>
    </div>
</div>

<div class='mescroll' id='mescroll'>
    <ul>

    </ul>
</div>

</body>
</html>